# independent test

In [5]:
baby1 =("zahra4/5/32","aaminah1/4/21","zainab23/4/20")

In [6]:
print(baby1)

('zahra4/5/32', 'aaminah1/4/21', 'zainab23/4/20')

In [7]:
baby1[2]

'zainab23/4/20'

In [8]:
type(baby1)

tuple

In [9]:
h = int(input("Enter Your Age: "))
if h<18:
        print("You are a Child")
else :
        print("your are not a child")

Enter Your Age:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
y = int(input("enter the year you where born in : "))
if y>2001: 
    print("your not old enough")
    
else :  
    print("your old enough")

In [ ]:
cocomelon_list = [2,3,5,7,10,92.14,"zahra",True]

In [ ]:
cocomelon_list[4]

In [ ]:
cocomelon_list[5]

In [ ]:
cocomelon_list

In [ ]:
cocomelon_list.append(14)

In [ ]:
cocomelon_list

In [ ]:
validImput=False
while not validImput:
    userAge=input("enter ur age            ")
    if userAge.isdigit() and int(userAge) >=18:
        print("Valid Age Entered!")
    else:
        print("please enter valid age (Must be 18 or older)")

In [ ]:
a = input("enter a number  ")

In [ ]:
type(a)

In [ ]:
a = 7

In [ ]:
type(a)

In [1]:
choice = None
while choice not in ('1', '2', '3'):
    print("Menu:")
    print("1. Option 1")
    print("2. Option 2")
    print("3. Option 3")
    choice = input("Enter your choice (1-3): ")
    if choice not in ('1', '2', '3'):
        print("Invalid choice. Please select a valid option.")
    else:
        print(f"You selected option {choice}.")

Menu:
1. Option 1
2. Option 2
3. Option 3
Enter your choice (1-3): 2
You selected option 2.

In [2]:
countdown = 5
while countdown > 0:
    print(countdown)
    countdown -= 1
print("blastOff!")

5
4
3
2
1
blastOff!

In [3]:
password = input("Set a password ")
attempts = 3
while attempts > 0:
    user_input = input("Enter the password: ")
    if user_input == password:
        print("Access granted!")
        break  # Exit the loop if the password is correct
    else:
        attempts -= 1
        if attempts > 0:
            print(f"Wrong password! {attempts} attempts remaining.")
        else:
            print("Too many attempts. Access denied.")

Set a password aa
Enter the password: s
Wrong password! 2 attempts remaining.
Enter the password: d
Wrong password! 1 attempts remaining.
Enter the password: a
Too many attempts. Access denied.

In [4]:
a = 23
n =54
h=89
d=88
k=45
a/n

0.42592592592592593

In [5]:
h-d

1

In [6]:
def zahra():
    print("zahra's information:")
    print("born_21st January 2006")
    print("9 siblings")
    print("loves cocomelon JJ doll")
    print("scared of BasketBalls")
    print("fav cartoon rachal+cocomelon")
    print("she is 16 years old")
    print("she has a bfffff called zara")

In [7]:
zahra()

zahra's information:
born_21st January 2006
9 siblings
loves cocomelon JJ doll
scared of BasketBalls
fav cartoon rachal+cocomelon
she is 16 years old
she has a bfffff called zara

In [8]:
for l in range(1,11,1):
    print("22 X",l,"=",l*22)

22 X 1 = 22
22 X 2 = 44
22 X 3 = 66
22 X 4 = 88
22 X 5 = 110
22 X 6 = 132
22 X 7 = 154
22 X 8 = 176
22 X 9 = 198
22 X 10 = 220

In [13]:
def tableOfTwelve():
     for o in range(1,11,1):
            print("12 X", o,"=", o*12)

In [14]:
tableOfTwelve()

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [15]:
for t in range(1,11,1):
    print("17 X", t,"=",t*17)

17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170

In [17]:
def faizu (f,a,i,z,u):
    return f+a/i*z-u

In [18]:
faizu(50,50,2,4,15)

135.0

In [26]:
mimi = {"my":"z4hr4","my2":"A4min4h", "my3":"z4in4b","my4":"du4","my5":"m4h4","my6":"s3h4r","my7":"0m4r"}

In [28]:
len(mimi)

7

In [29]:
mimi["my4"]

'du4'

In [30]:
mimi

{'my': 'z4hr4',
 'my2': 'A4min4h',
 'my3': 'z4in4b',
 'my4': 'du4',
 'my5': 'm4h4',
 'my6': 's3h4r',
 'my7': '0m4r'}

In [38]:
mimi["my"]="zahra"

In [32]:
mimi["my2"]="aaminah"

In [39]:
mimi["my3"]="zainab"

In [40]:
mimi["my4"]="dua"

In [41]:
mimi["my5"]="maha"

In [42]:
mimi["my6"]="sehar"

In [43]:
mimi["my7"]="omar"

In [44]:
mimi

{'my': 'zahra',
 'my2': 'aaminah',
 'my3': 'zainab',
 'my4': 'dua',
 'my5': 'maha',
 'my6': 'sehar',
 'my7': 'omar'}