# for loop

In [4]:
for zahra in range(1,11,1):
    print(zahra)

1
2
3
4
5
6
7
8
9
10

In [10]:
for z_a  in range(11,0,-1):
    print(z_a)

11
10
9
8
7
6
5
4
3
2
1

In [12]:
for zahra_aaminah in range (10,0,-1):
    print(zahra_aaminah)

10
9
8
7
6
5
4
3
2
1

In [19]:
for fft in range (23,0,-1):
    print(fft)

23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [27]:
for bby in range (1,11,1):
    print("2 X", bby, "=", bby*2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [28]:
for name in range (1,21,1):
    print("3 x", name, "=", name*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
3 x 20 = 60

In [29]:
for the in range (1,31,1):
    print("5 x", the ,"=",the*5 )

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100
5 x 21 = 105
5 x 22 = 110
5 x 23 = 115
5 x 24 = 120
5 x 25 = 125
5 x 26 = 130
5 x 27 = 135
5 x 28 = 140
5 x 29 = 145
5 x 30 = 150

In [37]:
a = int(input("Enter number  "))
for i in range(1,11,1):
    print(a,"X",i,"=",a*i)

Enter number  20
20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200

In [38]:
b =int(input("enter a number     "))
for a in range (1,13,1):
    print (b,"x", a,"=",b*a)

enter a number     5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [40]:
a =[1,2,3,4,5]
for z in a:
    print(z)

1
2
3
4
5

In [41]:
b =[1,2,3,4,5,6,7,8,9]
for i in b:
    print(i)

1
2
3
4
5
6
7
8
9