# define functuon

In [6]:
def zahra():
    print("zahra's information:")
    print("born_1st January 2023")
    print("3 siblings")
    print("loves cocomelon JJ doll")
    print("scared of balls")
    print("fav cartoon rachal+cocomelon")
    print("she is 1 years old")
    print("she has a bfffff called zahara")

In [7]:
zahra()

zahra's information:
born_1st January 2023
3 siblings
loves cocomelon JJ doll
scared of balls
fav cartoon rachal+cocomelon
she is 1 years old
she has a bfffff called zahara

In [11]:
for a in range(1,11,1):
    print("2 X",a,"=",a*2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

# table of 2

In [16]:
def tableOfTwelve():
     for m in range(1,11,1):
            print("12 X", m,"=", m*12)

In [18]:
tableOfTwelve()

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [20]:
for t in range(1,11,1):
    print("17 X", t,"=",t*17)

17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170

In [22]:
a=int(input("enter your number      "))

enter your number      56