In [1]:
pop_it_list = [34,20,79.6,45,"pop"]

In [3]:
pop_it_list[4]

'pop'

In [5]:
list1= pop_it_list[0:4]

In [6]:
pop_it_list

[34, 20, 79.6, 45, 'pop']

In [7]:
list1

[34, 20, 79.6, 45]

In [8]:
list2= pop_it_list[2:5]

In [9]:
list2

[79.6, 45, 'pop']

In [10]:
def tableOfTwelve():
     for m in range(1,11,1):
            print("12 X", m,"=", m*12)

In [11]:
tableOfTwelve()

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [12]:
def zara():
    for z in range(1,21,1):
        print("20 X", z, "=",z*20)
zara()

20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200
20 X 11 = 220
20 X 12 = 240
20 X 13 = 260
20 X 14 = 280
20 X 15 = 300
20 X 16 = 320
20 X 17 = 340
20 X 18 = 360
20 X 19 = 380
20 X 20 = 400

In [18]:
def ty():
    age=int(input("Enter Your Age :  "))
    if age == 24:
        print("This one must be Bilal")
    elif age == 15:
        print("This One Must be bob")
    else:
        print("Idk about you")

In [19]:
ty()

Enter Your Age :  15
This One Must be bob

In [20]:
def listFun():
    fruits=["bananna","strawberry","apple","kiwi","watermelon","grapes","melon","guava"]
    for z in fruits:
        print(z)

In [21]:
listFun()

bananna
strawberry
apple
kiwi
watermelon
grapes
melon
guava