In [1]:
# Integer variable
integer_var = 10

# Float variable
float_var = 3.14

# String variable
string_var = "Hello, World!"

# Boolean variable
boolean_var = True

# List variable
list_var = [1, 2, 3, 4, 5]

# Tuple variable
tuple_var = (1, 2, 3, 4, 5)

# Set variable
set_var = {1, 2, 3, 4, 5}

# Dictionary variable
dict_var = {'key1': 'value1', 'key2': 'value2'}

# NoneType variable
none_var = None

# Print variables
print("Integer:", integer_var)
print("Float:", float_var)
print("String:", string_var)
print("Boolean:", boolean_var)
print("List:", list_var)
print("Tuple:", tuple_var)
print("Set:", set_var)
print("Dictionary:", dict_var)
print("NoneType:", none_var)

Integer: 10
Float: 3.14
String: Hello, World!
Boolean: True
List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)
Set: {1, 2, 3, 4, 5}
Dictionary: {'key1': 'value1', 'key2': 'value2'}
NoneType: None

In [4]:
for za_raIsCute28 in range(1,11,1):
    print(za_raIsCute28,"Za_ra")

1 Za_ra
2 Za_ra
3 Za_ra
4 Za_ra
5 Za_ra
6 Za_ra
7 Za_ra
8 Za_ra
9 Za_ra
10 Za_ra

In [5]:
for w in range(1,14):
    print(w)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [7]:
a = 2
b = 77
c = 33
d = 4
d,b,a,c,d,c,b,a

(4, 77, 2, 33, 4, 33, 77, 2)

In [8]:
greeting = "Hello"
name = "Charlie"
print(greeting + ", " + name + "!")

Hello, Charlie!

In [9]:
salutation = "heyy"
appellation = "Amelia"
print(salutation + " , " + appellation + ":D")

heyy , Amelia:D

In [10]:
def tableOfTwelve():
     for m in range(1,11,1):
            print("12 X", m,"=", m*12)
tableOfTwelve()

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120